{# Enlazar este fichero con la plantilla correspondiente #}
{% extends "layouts/public.twig" %}


{% block title %}Shop{% endblock %}

{% block style %}
<link rel="stylesheet" href="resources/css/adminlte.min.css">
{% endblock %}


{% block content %}	
<div class="album py-5">
        <div class="container">
            <h3 class="mb-3">TODOS LOS PRODUCTOS</h3>
            <div class="row">
            {% for u in productos %}
                <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                    <div class="card">
                    <a href="{{ URL }}?controller=productos&action=show&id={{ u.id }}"> <img src="{{ u.img }}" alt="Photo 2" class="img-fluid"></a>
                        <div class="ribbon-wrapper">
                            <div class="ribbon bg-danger">
                                -30%
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ u.nombre }} | <del>{{ u.precio_regular }}€</del> {{ u.precio_venta }}€</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}

{% block script %}

{% endblock %}